<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.customer.mapper.CustomerMapper">

    <resultMap type="Customer" id="CustomerResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="sex" column="sex"/>
        <result property="inputUserId" column="input_user_id"/>
        <result property="inputUserName" column="input_user_name"/>
        <result property="entryTime" column="entry_time"/>
    </resultMap>

    <sql id="selectBusCusRecordVo">
        select a.id, a.name, a.phone, a.sex, a.input_user_id, b.nick_name as input_user_name, entry_time
        from bus_customer a
        left join sys_user b on a.input_user_id = b.user_id
    </sql>

    <select id="selectCustomerList" parameterType="Customer" resultMap="CustomerResult">
        <include refid="selectBusCusRecordVo"/>
        <where>
            <if test="name != null  and name != ''">
                and (
                    a.name like concat('%', #{name}, '%')
                    or a.phone like concat('%', #{name}, '%')
                )
            </if>
            <if test="inputUserId != null">
                and a.input_user_id = #{inputUserId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(a.entry_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(a.entry_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectCustomerById" parameterType="Long" resultMap="CustomerResult">
        <include refid="selectBusCusRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertCustomer" parameterType="Customer">
        insert into bus_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="phone != null">phone,</if>
            <if test="sex != null and sex != ''">sex,</if>
            <if test="inputUserId != null">input_user_id,</if>
            <if test="entryTime != null">entry_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="sex != null and sex != ''">#{sex},</if>
            <if test="inputUserId != null">#{inputUserId},</if>
            <if test="entryTime != null">#{entryTime},</if>
        </trim>
    </insert>

    <update id="updateCustomer" parameterType="Customer">
        update bus_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
        </trim>
        where id = #{id}
    </update>

</mapper>