<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.workflow.mapper.MarketingMapper">

    <resultMap type="Marketing" id="MarketingResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sort"    column="sort"    />
        <result property="creattime"    column="creattime"    />
        <result property="stopTime"    column="stop_time"    />
        <result property="displayposition"    column="displayposition"    />
        <result property="bannerImage"    column="banner_image"    />
        <result property="h5Url"    column="H5_url"    />
        <result property="rule"    column="rule"    />
        <result property="state"    column="state"    />
    </resultMap>

    <sql id="selectMarketingVo">
        select id, name, sort, creattime, stop_time, displayposition, banner_image, H5_url, rule, state from marketing
    </sql>

    <select id="selectMarketingList" parameterType="Marketing" resultMap="MarketingResult">
        <include refid="selectMarketingVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="creattime != null "> and creattime = #{creattime}</if>
            <if test="stopTime != null "> and stop_time = #{stopTime}</if>
        </where>
    </select>
</mapper>
